


footer {
    background: #9CD91A;
    position: relative;
   margin: 0 auto;
}

footer h4 {
    color:  white;
    font-size: 1.2em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 1.0em;

}

footer .navbar-nav a:hover {
    color: #F2133C;
    text-decoration: none;

}

footer ul {
    list-style: none;
    color: #FFF;
}

footer ul li {
    float: right;
    margin: 0 5px;
}
 .linha{
    border-top:  2px #FFF solid;
    width: 81%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.linha p {
    padding-bottom: 10px; 
    padding-top: 10px;
    color: white;
}
.linha a{
    color: white;
    text-decoration: none;
}
 .linha a:hover{
    color: #F2133C;
 }